* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("parking.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
.first {
  padding-top: 20px;
  font-family: sans-serif;
  margin-top: 10px;
  text-align: center;
  color: purple;
  line-height: 2rem;
  font-size: 1.7rem;
  letter-spacing: 0.3rem;
  animation: text 3s 1;
  transform: translate(-0%, -0%);
}

@keyframes text {
  0% {
    color: maroon;
  }
  30% {
    letter-spacing: 10px;
  }
  85% {
    letter-spacing: 5px;
  }
}
.second {
  align-items: center;
  position: absolute;
  background-color: white;
  padding: 70px 70px 70px 70px;
  margin-left: 600px;
  margin-top: 60px;
}

.btn {
  background-color: lightgreen;
  padding: 20px 20px 20px 20px;
  margin-left: 80px;
  margin-top: 20px;
  border-radius: 20px;
}

/* @media all and (max-width: 1200px) {
  .first {
    padding: 30px;
    text-align: center;
    width: 100%;
  }

  .second {
    margin: 50px;
    padding: 50px;
    align-items: center;
  }
} */
